.rm__movie__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 25%;
    height: 100px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 10px;
}

.movie__title {
    padding: 30px 0;
}

.book__btn {
    background: rgb(162, 255, 162);
    color: black;
    width: 100%;
    padding: 3px 10px;
    border: white;
    cursor: pointer;
}

.book__btn:hover {
    background: rgb(120, 231, 120);
}